<div ng-controller="BeanCtrl">
    <h1>{{bean.name}}: ${{bean.price}}/lb</h1>
    <div>
        <p><em>{{bean.description}}</em></p>
        <img id="bean-image" src={{bean.image}} alt="beans" />
    </div>
    <h1>Origin: {{bean.grower.name}}</h1>
    <div>
        <p><em>{{bean.grower.description}}</em></p>
        <img id="bean-image" src={{bean.grower.image}} alt="beans" />
    </div>
    <section>
        <h3>Purchase</h3>
        <form>
            <div class="form-group form-inline">
                <label for="grinds">Grinds</label>
                <select name="grinds" id="grinds" class="form-control" ng-model="cartObject.grind" ng-options="item as item for item in grinds"></select>
                <label for="quantity">Quantity</label>
                <select name="quantity" id="quantity" class="form-control" ng-model="cartObject.quantity" ng-options="item as item for item in quantity"></select>
                <button type="submit" class="btn btn-primary" ng-if="bean" ng-click="getBeanAndPrice(bean.name, bean.price)">Add To Cart</button>
            </div>
        </form>
    </section>
</div>